@page "/Addmember/{streetName}/{houseNumber:int}/{type}"
@using Data;
@using FamilyManager2UI.WebClient
@using Models
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavMng;
@inject IRestClient RestClient;
<div class="text-center">
    <h3>Add a New @type</h3>
</div>

@if (type.Equals("Pet")) {
    <div class="container text-center">
    <div class="card text-center py-3">
        <EditForm Model="@pet" OnValidSubmit="@AddPetAsync">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            @if (family.Children != null) {
            <label>Child:</label>
                <div class="form-group">
                    <InputSelect name="child" @bind-Value="person.FirstName">
                        <option value="None">None</option>
                    
                        @foreach (var child in family.Children) {
                            <option value="@child.FirstName"> @child.FirstName</option>
                        }
                    </InputSelect>
                </div>
            }
            <label>Name:</label>
            <div class="form-group">
                <InputText @bind-Value="pet.Name"/>
            </div>
            <label>Species:</label>
            <div class="form-group">
                <InputText @bind-Value="pet.Species"/>
            </div>
            <label>Age:</label>
            <div class="form-group">
                <InputNumber @bind-Value="pet.Age"/>
            </div>
            <p class="actions">
                <button class="btn btn-outline-dark" type="submit">Add Pet</button>
            </p>
        </EditForm>
    </div>
    </div>
} else {
    <EditForm Model="@person" OnValidSubmit="@AddPersonAsync">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="container text-center">
        <div class="card text-center py-3">
            <div class="row">
                <div class="offset-md-3 col-md-3 text-center">
                    <div class="mb-5 mt-4">
                        <label>First Name:</label>
                        <div class="form-group">
                            <InputText @bind-Value="person.FirstName"/>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label>Last Name:</label>
                        <div class="form-group">
                            <InputText @bind-Value="person.LastName"/>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label>Hair color:</label>
                        <div class="form-group">
                            <InputSelect name="hair_color" @bind-Value="person.HairColor">
                                <option value="Black">Black</option>
                                <option value="Grey">Grey</option>
                                <option value="Blond">Blond</option>
                                <option value="Leverpostej">Leverpostej</option>
                                <option value="White">White</option>
                                <option value="Blue">Blue</option>
                            </InputSelect >
                        </div>
                    </div>
                    <div class="mb-5">
                        <label>Eye color:</label>
                        <div class="form-group">
                            <InputSelect name="eye_color" @bind-Value="person.EyeColor">
                                <option value="Blue">Blue</option>
                                <option value="Hazel">Hazel</option>
                                <option value="Grey">Grey</option>
                                <option value="Amber">Amber</option>
                                <option value="Brown">Brown</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label>Age:</label>
                        <div class="form-group">
                            <InputNumber @bind-Value="person.Age"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="mb-5 mt-4">
                        <label>Height:</label>
                        <div class="form-group">
                            <InputNumber @bind-Value="person.Height"/>
                        </div>
                    </div>
                    <div class="mb-5">

                        <label>Weight:</label>
                        <div class="form-group">
                            <InputNumber @bind-Value="person.Weight"/>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label>Sex:</label>
                        <div class="form-group">
                            <InputSelect name="Sex" @bind-Value="person.Sex">
                                <option value="F">F</option>
                                <option value="M">M</option>
                            </InputSelect>
                        </div>
                    </div>
                    @if (type.Equals("Adult")) {
                        <EditForm Model="@job" Context="j">
                            <div class="mb-5">
                                <label>Job title:</label>
                                <div class="form-group">
                                    <InputText @bind-Value="job.JobTitle"/>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label>Salary:</label>
                                <div class="form-group">
                                    <InputNumber @bind-Value="job.Salary"/>
                                </div>
                            </div>
                        </EditForm>
                    }
                    else {
                        <EditForm Model="@interest" Context="i">
                            <div class="mb-5">
                                <label>Interest Type:</label>
                                <div class="form-group">
                                    <InputText @bind-Value="interest.Type"/>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label>Interest Description:</label>
                                <div class="form-group">
                                    <InputText @bind-Value="interest.Description"/>
                                </div>
                            </div>
                        </EditForm>
                    }
                </div>
                <div class="col-md-3"></div>
                <p class="actions mx-auto">
                    <button class="btn btn-outline-dark" type="submit">Add Person</button>
                </p>
            </div>
            <label style="color: red">@error</label>
        </div>
        </div>
    </EditForm>
}

@code {

    [Parameter]
    public string streetName { get; set; }

    [Parameter]
    public int houseNumber { get; set; }

    [Parameter]
    public string type { get; set; }

    private Family family = new Family();

    private Person person = new Person();
    private Pet pet = new Pet();
    private Job job = new Job();
    private Interest interest = new Interest();
    private string hairColor;
    private string eyeColor;
    private string sex;
    private static string error = "";
    
    protected override async Task OnInitializedAsync() {
        family = await RestClient.GetAsync<Family>(streetName, houseNumber);
        person.HairColor = "Black";
        person.EyeColor = "Blue";
        person.Sex = "F";
    }

    private async Task AddPetAsync() {
        if (person.FirstName != null && !person.FirstName.Equals("None"))
            await RestClient.PostAsync(pet, family.StreetName, family.HouseNumber, family.Children.First(c => c.FirstName.Equals(person.FirstName)).Id);
        else
            await RestClient.PostAsync(pet, family.StreetName, family.HouseNumber);
        NavMng.NavigateTo("/AddFamilyMember");
    }

    private async Task AddPersonAsync() {
        try {
            if (type.Equals("Adult")) {
                await RestClient.PostAsync(new Adult() {
                    FirstName = person.FirstName,
                    LastName = person.LastName,
                    EyeColor = person.EyeColor,
                    HairColor = person.HairColor,
                    Age = person.Age,
                    Height = person.Height,
                    Weight = person.Weight,
                    Sex = person.Sex,
                    Job = new Job() {
                        JobTitle = job.JobTitle,
                        Salary = job.Salary
                    }
                }, family.StreetName, family.HouseNumber);
            }
            else {
                await RestClient.PostAsync(new Child() {
                    FirstName = person.FirstName,
                    LastName = person.LastName,
                    EyeColor = person.EyeColor,
                    HairColor = person.HairColor,
                    Age = person.Age,
                    Height = person.Height,
                    Weight = person.Weight,
                    Sex = person.Sex,
                    Pets = new List<Pet>(),
                    Interests = new List<Interest>() {
                        new Interest() {
                            Description = interest.Description,
                            Type = interest.Type
                        }
                    }
                }, family.StreetName, family.HouseNumber);
            }
        }
        catch (Exception e) {
            error = e.Message;
        }
        NavMng.NavigateTo("/AddFamilyMember");
    }
}            